<footer class="footer">
    <div class="container content has-text-centered">
        <div class="imgStyle">
            <div class="row">
                    <div class="column">
                            <a href="https://www.linkedin.com/in/jamesbran/" target="_blank"> <img  src="/assets/img/linkedIn.svg"></a>  
                    </div>

                    <div class="column">
                            <a href="https://github.com/jamesbrannigan89"   target="_blank">  <img src="/assets/img/git.svg">               </a>       
                    </div>       
            </div>
        </div>
        <h3> Welcome to my travel site</h3>
    </div>
</footer>

