
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <i class="fas fa-home" style="color:white"></i>
    <a class="navbar-brand" href="#">Favourite photos</a>
    ...
  </nav>


 
<div class="card">
    <div class="card-header">
      James Brannigan
    </div>

    <div class="card-body">
      <h5 class="card-title">Welcome to my travel Page</h5>
      <p class="card-text">I have just returned from 6 months traveling and I will use this page to show my favourite photos.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>

  </div>

  