<br>
<div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="/assets/img/rome.JPG" alt="leeGrindlewald" title="Grindlewald">
        <div class="card-body">
          <h4 class="card-title">Rome</h4>
          <h6 class="card-subtitle mb-2 text-muted">Palatine Hill</h6>
          <p class="card-text">The Palatine Hill, which is the centremost of the Seven Hills of Rome, is one of the most ancient parts of the city and has been called "the first nucleus of the Roman Empire." It stands 40 metres above the Roman Forum, looking down upon it on one side, and upon the Circus Maximus on the other. </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="/assets/img/pointDu.jpg" alt="pointDu" title="Point Du Hoc">
        <div class="card-body">
          <h4 class="card-title">France</h4>
          <h6 class="card-subtitle mb-2 text-muted">Omaha Beach</h6>
          <p class="card-text">La Pointe du Hoc is a promontory with a 100-foot cliff overlooking the English Channel on the northwestern coast of Normandy in the Calvados department, France. During World War II it was the highest point between the American sector landings at Utah Beach to the west and Omaha Beach to the east</p>
        </div>
      </div>
    </div>


    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="/assets/img/mostar.JPG" alt="Mostar" title="Mostar Bridge">
        <div class="card-body">
          <h4 class="card-title">Bosnia and Herzegovina</h4>
          <h6 class="card-subtitle mb-2 text-muted">Mostar Birdge</h6>
          <p class="card-text">Stari Most, also known as Mostar Bridge, is a rebuilt 16th-century Ottoman bridge in the city of Mostar in Bosnia and Herzegovina that crosses the river Neretva and connects the two parts of the city.</p>
        </div>
      </div>
    </div>


  