<br>
<div class="card-deck" style="width: 100rem" >

    <div class="card text-white bg-dark mb-3">
      <img class="card-img-top" src="/assets/img/mostar.JPG" alt="Mostar">
      <div class="card-header">Mostar Bridge</div>
      <div class="card-body">
        <h5 class="card-title">Bosnia and Herzegovina.Bosnia and Herzegovina is a country on the Balkan Peninsula in southeastern Europe. Its countryside is home to medieval villages, rivers and lakes, plus the craggy Dinaric Alps. National capital Sarajevo has a well preserved old quarter, Baščaršija, with landmarks like 16th-century Gazi Husrev-bey Mosque. Ottoman-era Latin Bridge is the site of the assassination of Archduke Franz Ferdinand, which ignited World War I. </h5>
        <div class="card-footer ">Mostar</div>
      </div>

    </div>
    <div class="card text-white bg-dark mb-3">
      <img class="card-img-top" src="/assets/img/rome.JPG" alt="Rome">
      <div class="card-header">Palatine Hill</div>
      <div class="card-body">
        <p class="card-text">Rome is the capital city and a special comune of Italy. Rome also serves as the capital of the Lazio region. With 2,879,728 residents in 1,285 km², it is also the country's most populated comune. It is the fourth most populous city in the European Union by population within city limits. Wikipedia</p>
        <div class="card-footer ">Rome</div>
      </div>
    </div>

    <div class="card text-white bg-dark mb-3">
      <img class="card-img-top" src="/assets/img/pointDu.jpg" alt="Card image cap">
      <div class="card-header">Point Du Hoc Omaha Beahc</div>
      <div class="card-body">
        <p class="card-text">La Pointe du Hoc is a promontory with a 100-foot cliff overlooking the English Channel on the northwestern coast of Normandy in the Calvados department, France. During World War II it was the highest point between the American sector landings at Utah Beach to the west and Omaha Beach to the east.</p>
        <div class="card-footer ">France</div>
      </div>
    </div>

    <div class="card text-white bg-dark mb-3">
        <img class="card-img-top" src="/assets/img/grindlewald.JPG" alt="Card image cap">
        <div class="card-header">Grindlewald</div>
        <div class="card-body">
          <p class="card-text">Grindelwald, a village in Switzerland’s Bernese Alps, is a popular gateway for the Jungfrau Region, with skiing in winter and hiking in summer. It's also a base for mountain-climbing ascents up the iconic north face of Eiger Mountain. Gletscherschlucht, a glacial gorge just outside Grindelwald, features paths with interpretive signage, waterfalls and striated limestone walls.</p>
          <div class="card-footer ">Switzerland</div>
        </div>
  </div>