<div class="jumbotron jumbotron-fluid ">
  <div class="container">
    <h1 class="display-4">Countries I have visted </h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div id="card">
    <div class="row card-group">
        <div class="col col-lg-3 col-md-8" *ngFor="let place of countries">
          <div class="card h-100 text-center">
            <img class="card-img-top" src={{place.imageUrl}} alt="image not available">
            <div class="card-body">
              <h4 class="card-title">{{place.country}}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{place.description}}</h6>
              <a class="nav-link" routerLink="/austria-page"> <button class="button is-rounded">More photos </button></a>
            </div>
          </div>
        </div>
      </div>
</div>
