<body>

    <div class="wrapper ">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>


        <div class="sidebar col-sm-3">
            <h2>Travel Site</h2>
            <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="about">About</a></li>
                <li><a routerLink="countriesVisted">Countries Visted</a></li>

            </ul>

        </div>
    </div>

</body>