<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" >



  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto text-center" id="colourMe">

      <li class="nav-item" >
        <a class="nav-link" routerLink="">Home </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="about">About </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="countriesVisted">Countries Visted</a>
      </li>


    </ul>
  </div>
  <hr>
</nav>