<!-- Page Content -->
<div class="container">
  <br>

   

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="/assets/img/mostar.JPG" alt="mostar" title="Mostar">
      </div>
      <div class="col-lg-6">
        <h1>My Travel Site</h1>
        <br>
        <p>I recently went travelling Europe and I have just returned. I on the first of August and returned in January. I had an interrail pass to travel Europe via trains. We had unlimited access to any trains we wanted to use.</p>
       
      </div>
    </div>
   
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="/assets/img/leeGrindlewald.JPG" alt="leeGrindlewald" title="Grindlewald">
          <div class="card-body">
            <h4 class="card-title">Switzerland</h4>
            <h6 class="card-subtitle mb-2 text-muted">Grindlewald Village</h6>
            <p class="card-text">Lee taking a photo of Grindlewald Glacier</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="/assets/img/Delphi.JPG" alt="Delphi" title="Delphi">
          <div class="card-body">
            <h4 class="card-title">Greece</h4>
            <h6 class="card-subtitle mb-2 text-muted">Delphi</h6>
            <p class="card-text">The ancient town of Delphi north of Athens</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="/assets/img/goldenhorn.JPG" alt="Goldenhorn beach" title="Goldenhorn Beach">
          <div class="card-body">
            <h4 class="card-title">Croatia</h4>
            <h6 class="card-subtitle mb-2 text-muted">Goldenhorn Beach</h6>
            <p class="card-text">Goldenhorn beach on the island of Brač</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  

  