agm-map{
    text-align: center;
    height: 300px;
    width: 500px;

    display: block;
    margin-left: auto;
    margin-right: auto
}


img{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card{
      margin: 10px 50px 20px;
     padding: 1em;  
}

.btn{
    margin-top: 10px;
}