<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Austria</h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="/assets/img/austria1.JPG" alt="Austria Photo"
                title="Lee at innsbruck">
        </div>

        <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="/assets/img/austria2.JPG" alt="">
        </div>

        <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="/assets/img/austria3.JPG" alt="">
        </div>

        <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="/assets/img/austria3.JPG" alt="">
        </div>

    </div>
</div>

<div>
        <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
                <agm-marker
                  [latitude]="latitude"
                  [longitude]="longitude"
                  *ngIf="locationChosen"></agm-marker>
            </agm-map>
</div>

